In [1]:
import os

import numpy as np
import pandas as pd

In [2]:
turnovers = ['THROWAWAY', 'DROP', 'STALL', 'CALLAHAN_THROWN']
takeaways = ['BLOCK', 'CALLAHAN', 'STALL_CAUSED', 'THROWAWAY_CAUSED']

pulls = ['PULL_OUT_OF_BOUNDS', 'PULL_INBOUNDS']

pens = ['D_PENALTY_ON_THEM', 'D_PENALTY_ON_US', 'O_PENALTY_ON_THEM', 'O_PENALTY_ON_US']

quarter_ends = ['START_OF_GAME', 'END_OF_Q1', 'HALFTIME', 'END_OF_Q3', 'GAME_OVER']
line_sets = ['SET_D_LINE', 'SET_O_LINE', 'SET_D_LINE_NO_PULL', 'SET_O_LINE_NO_PULL']
timeouts = ['THEIR_MIDPOINT_TIMEOUT', 'OUR_MIDPOINT_TIMEOUT']

other = ['REF_TIMEOUT_DISCUSSION???', 'INJURY_ON_O', 'INJURY_ON_D']

In [3]:
df = pd.read_csv("Flyers_Games.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)
df_home = pd.read_csv("Flyers_Games_home.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)
df_away = pd.read_csv("Flyers_Games_away.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)

In [4]:
df.dtypes

event_index          int64
game_id              int64
date                object
home_team            int64
away_team            int64
event_counter        int64
team_id              int64
current_quarter    float64
time                object
event_type          object
player              object
x                  float64
y                  float64
o_point               bool
d_point               bool
point_id             int64
our_score            int64
their_score          int64
line                object
dtype: object

In [5]:
df.loc[df['event_type'] == "GOAL"].groupby(['game_id', 'team_id'])['event_type'].count()

game_id  team_id
2884     241        18
         242        22
2888     235        21
         242        20
2893     241        14
         242        15
2894     242        24
         245        18
2895     235        24
         242        26
2896     234        15
         242        23
2901     234        18
         242        26
2905     242        19
         245        13
2908     242        23
         245        15
Name: event_type, dtype: int64

In [6]:
# df_home['line'] = df_home['line'].ffill()
df_home.head(20)

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,point_id,our_score,their_score,line
0,0,2908,2022-06-25,245,242,0,245,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
1,1,2908,2022-06-25,245,242,1,245,1.0,NaN,SET_D_LINE,"Michael Arbutine, Cody Coates, Garrett Knobel,...",NaN,NaN,False,True,1,0,0,"['Michael Arbutine', 'Cody Coates', 'Garrett K..."
2,2,2908,2022-06-25,245,242,2,245,1.0,NaN,PULL_INBOUNDS,Michael Arbutine,7.57,80.31,False,True,1,0,0,NaN
3,3,2908,2022-06-25,245,242,3,245,1.0,NaN,BLOCK,Michael Arbutine,NaN,NaN,False,True,1,0,0,NaN
4,4,2908,2022-06-25,245,242,4,245,1.0,NaN,POSSESSION,Michael Arbutine,-0.48,39.95,False,True,1,0,0,NaN
5,5,2908,2022-06-25,245,242,5,245,1.0,NaN,POSSESSION,Sean Plunkett,7.36,44.31,False,True,1,0,0,NaN
6,6,2908,2022-06-25,245,242,6,245,1.0,NaN,DROP,Clayton Partlow,22.91,60.61,False,True,1,0,0,NaN
7,7,2908,2022-06-25,245,242,7,245,1.0,Q1 11:10,SCORED_ON,NaN,NaN,NaN,False,True,1,0,1,NaN
8,8,2908,2022-06-25,245,242,8,245,1.0,NaN,SET_O_LINE,"Tannon Hedges, Carl Johnson, Billy O'Bryan, Un...",NaN,NaN,True,False,2,0,1,"['Tannon Hedges', 'Carl Johnson', ""Billy O'Bry..."
9,9,2908,2022-06-25,245,242,9,245,1.0,NaN,POSSESSION,Tannon Hedges,0.00,40.00,True,False,2,0,1,NaN
10,10,2908,2022-06-25,245,242,10,245,1.0,NaN,POSSESSION,Jaime Perez,-4.78,32.72,True,False,2,0,1,NaN
11,11,2908,2022-06-25,245,242,11,245,1.0,NaN,POSSESSION,Tannon Hedges,2.52,31.84,True,False,2,0,1,NaN
12,12,2908,2022-06-25,245,242,12,245,1.0,NaN,POSSESSION,Adam Vinson,16.09,29.93,True,False,2,0,1,NaN
13,13,2908,2022-06-25,245,242,13,245,1.0,NaN,POSSESSION,Carl Johnson,21.41,45.47,True,False,2,0,1,NaN
14,14,2908,2022-06-25,245,242,14,245,1.0,NaN,POSSESSION,Unmil Patel,21.34,56.31,True,False,2,0,1,NaN
15,15,2908,2022-06-25,245,242,15,245,1.0,NaN,POSSESSION,Billy O'Bryan,8.66,54.06,True,False,2,0,1,NaN
16,16,2908,2022-06-25,245,242,16,245,1.0,NaN,POSSESSION,Jorge Delgado,-13.17,56.11,True,False,2,0,1,NaN
17,17,2908,2022-06-25,245,242,17,245,1.0,NaN,POSSESSION,Tannon Hedges,-1.78,63.40,True,False,2,0,1,NaN
18,18,2908,2022-06-25,245,242,18,245,1.0,NaN,POSSESSION,Adam Vinson,19.16,66.75,True,False,2,0,1,NaN
19,19,2908,2022-06-25,245,242,19,245,1.0,NaN,POSSESSION,Unmil Patel,14.93,80.93,True,False,2,0,1,NaN

In [7]:
df.sort_values(['game_id', 'point_id', 'event_counter', 'team_id']).head(25)

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,point_id,our_score,their_score,line
423,0,2884,2022-06-17,241,242,0,241,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
4339,0,2884,2022-06-17,241,242,0,242,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
4340,1,2884,2022-06-17,241,242,1,242,1.0,NaN,NaN,NaN,NaN,NaN,False,False,0,0,0,NaN
4341,2,2884,2022-06-17,241,242,2,242,1.0,NaN,NaN,NaN,NaN,NaN,False,False,0,0,0,NaN
424,1,2884,2022-06-17,241,242,1,241,1.0,NaN,SET_O_LINE,"Austin Taylor, Christian Olsen, Max Thorne, Br...",NaN,NaN,True,False,1,0,0,"['Austin Taylor', 'Christian Olsen', 'Max Thor..."
425,2,2884,2022-06-17,241,242,2,241,1.0,NaN,POSSESSION,Christian Olsen,15.44,9.10,True,False,1,0,0,NaN
426,3,2884,2022-06-17,241,242,3,241,1.0,NaN,POSSESSION,Bobby Ley,-1.68,19.22,True,False,1,0,0,NaN
4342,3,2884,2022-06-17,241,242,3,242,1.0,NaN,SET_D_LINE,"Suraj Madiraju, Dylan Hawkins, Elijah Long, Wi...",NaN,NaN,False,True,1,0,0,"['Suraj Madiraju', 'Dylan Hawkins', 'Elijah Lo..."
427,4,2884,2022-06-17,241,242,4,241,1.0,NaN,POSSESSION,Christian Olsen,9.98,16.60,True,False,1,0,0,NaN
4343,4,2884,2022-06-17,241,242,4,242,1.0,NaN,PULL_INBOUNDS,William Coffin,-16.71,112.97,False,True,1,0,0,NaN
428,5,2884,2022-06-17,241,242,5,241,1.0,NaN,POSSESSION,Austin Taylor,-13.34,26.14,True,False,1,0,0,NaN
4344,5,2884,2022-06-17,241,242,5,242,1.0,Q1 10:55,SCORED_ON,NaN,NaN,NaN,False,True,1,0,1,NaN
429,6,2884,2022-06-17,241,242,6,241,1.0,NaN,POSSESSION,Christian Olsen,11.29,24.39,True,False,1,0,0,NaN
430,7,2884,2022-06-17,241,242,7,241,1.0,NaN,POSSESSION,Matt Smith,4.95,29.56,True,False,1,0,0,NaN
431,8,2884,2022-06-17,241,242,8,241,1.0,NaN,POSSESSION,Bobby Ley,-1.24,26.06,True,False,1,0,0,NaN
432,9,2884,2022-06-17,241,242,9,241,1.0,NaN,POSSESSION,Christian Olsen,11.94,36.40,True,False,1,0,0,NaN
433,10,2884,2022-06-17,241,242,10,241,1.0,NaN,POSSESSION,Bobby Ley,12.96,27.16,True,False,1,0,0,NaN
434,11,2884,2022-06-17,241,242,11,241,1.0,NaN,POSSESSION,Matt Smith,4.88,34.95,True,False,1,0,0,NaN
435,12,2884,2022-06-17,241,242,12,241,1.0,NaN,POSSESSION,Bobby Ley,15.51,40.19,True,False,1,0,0,NaN
436,13,2884,2022-06-17,241,242,13,241,1.0,NaN,POSSESSION,Matt Smith,1.89,34.66,True,False,1,0,0,NaN
437,14,2884,2022-06-17,241,242,14,241,1.0,NaN,POSSESSION,Austin Taylor,2.04,44.70,True,False,1,0,0,NaN
438,15,2884,2022-06-17,241,242,15,241,1.0,Q1 10:55,GOAL,Christian Olsen,-10.35,104.49,True,False,1,1,0,NaN
4345,6,2884,2022-06-17,241,242,6,242,1.0,NaN,SET_O_LINE,"Alex Davis, Jacob Fairfax, Henry Fisher, Matt ...",NaN,NaN,True,False,2,0,1,"['Alex Davis', 'Jacob Fairfax', 'Henry Fisher'..."
4346,7,2884,2022-06-17,241,242,7,242,1.0,NaN,POSSESSION,Matt Gouchoe-Hanas,10.63,19.99,True,False,2,0,1,NaN
4347,8,2884,2022-06-17,241,242,8,242,1.0,NaN,POSSESSION,Sol Yanuck,11.32,31.43,True,False,2,0,1,NaN

In [7]:
df['event_type'].unique()

array(['START_OF_GAME', 'SET_D_LINE', 'PULL_INBOUNDS', 'BLOCK',
       'POSSESSION', 'DROP', 'SCORED_ON', 'SET_O_LINE', 'THROWAWAY',
       'GOAL', 'OUR_MIDPOINT_TIMEOUT', 'SET_O_LINE_NO_PULL',
       'PULL_OUT_OF_BOUNDS', 'THROWAWAY_CAUSED', 'O_PENALTY_ON_US',
       'D_PENALTY_ON_US', 'END_OF_Q1', 'D_PENALTY_ON_THEM',
       'O_PENALTY_ON_THEM', 'INJURY_ON_D', 'SET_D_LINE_NO_PULL', 'STALL',
       'HALFTIME', 'THEIR_MIDPOINT_TIMEOUT', 'END_OF_Q3', 'GAME_OVER',
       nan, 'INJURY_ON_O', 'STALL_CAUSED', 'PULL_OUR_OFFSIDES',
       'REF_TIMEOUT_DISCUSSION???', 'CALLAHAN', 'CALLAHAN_THROWN'],
      dtype=object)

In [14]:
df.columns

Index(['event_index', 'game_id', 'date', 'home_team', 'away_team',
       'event_counter', 'team_id', 'current_quarter', 'time', 'event_type',
       'player', 'x', 'y', 'o_point', 'd_point', 'point_id', 'our_score',
       'their_score', 'line', 'is_line_set', 'is_not_line_set', 'is_not_pull'],
      dtype='object')

In [20]:
df.sort_values(['game_id', 'point_id', 'event_counter', 'team_id']).head(25)
df['is_not_line_set'] = np.where(df['event_type'].isin(['SET_O_LINE', 'SET_D_LINE']), 0, 1)
df['is_not_pull'] = np.where(df['event_type'].isin(['PULL_INBOUNDS', 'PULL_OUT_OF_BOUNDS']), 0, 1)
df['is_score'] = np.where(df['event_type'].isin(['SCORED_ON']), 1, 0)
sort_order_test = ['game_id', 'point_id', 'is_not_line_set', 'is_not_pull', 'is_score', 'event_counter']
sort_test_columns = ['game_id', 'home_team', 'away_team', 'event_counter', 'team_id', 'current_quarter',
                     'time', 'event_type', 'player', 'x', 'y']
drop_these = ['event_index', 'date', 'is_line_set', 'is_not_line_set', 'is_not_pull', 'is_not_score', 'is_score']
sort_test_columns = [x for x in df.columns if x not in drop_these]
df.sort_values(sort_order_test).loc[:, sort_test_columns].head(25)

,game_id,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,point_id,our_score,their_score,line
423,2884,241,242,0,241,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
4339,2884,241,242,0,242,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
4340,2884,241,242,1,242,1.0,NaN,NaN,NaN,NaN,NaN,False,False,0,0,0,NaN
4341,2884,241,242,2,242,1.0,NaN,NaN,NaN,NaN,NaN,False,False,0,0,0,NaN
424,2884,241,242,1,241,1.0,NaN,SET_O_LINE,"Austin Taylor, Christian Olsen, Max Thorne, Br...",NaN,NaN,True,False,1,0,0,"['Austin Taylor', 'Christian Olsen', 'Max Thor..."
4342,2884,241,242,3,242,1.0,NaN,SET_D_LINE,"Suraj Madiraju, Dylan Hawkins, Elijah Long, Wi...",NaN,NaN,False,True,1,0,0,"['Suraj Madiraju', 'Dylan Hawkins', 'Elijah Lo..."
4343,2884,241,242,4,242,1.0,NaN,PULL_INBOUNDS,William Coffin,-16.71,112.97,False,True,1,0,0,NaN
425,2884,241,242,2,241,1.0,NaN,POSSESSION,Christian Olsen,15.44,9.10,True,False,1,0,0,NaN
426,2884,241,242,3,241,1.0,NaN,POSSESSION,Bobby Ley,-1.68,19.22,True,False,1,0,0,NaN
427,2884,241,242,4,241,1.0,NaN,POSSESSION,Christian Olsen,9.98,16.60,True,False,1,0,0,NaN
428,2884,241,242,5,241,1.0,NaN,POSSESSION,Austin Taylor,-13.34,26.14,True,False,1,0,0,NaN
429,2884,241,242,6,241,1.0,NaN,POSSESSION,Christian Olsen,11.29,24.39,True,False,1,0,0,NaN
430,2884,241,242,7,241,1.0,NaN,POSSESSION,Matt Smith,4.95,29.56,True,False,1,0,0,NaN
431,2884,241,242,8,241,1.0,NaN,POSSESSION,Bobby Ley,-1.24,26.06,True,False,1,0,0,NaN
432,2884,241,242,9,241,1.0,NaN,POSSESSION,Christian Olsen,11.94,36.40,True,False,1,0,0,NaN
433,2884,241,242,10,241,1.0,NaN,POSSESSION,Bobby Ley,12.96,27.16,True,False,1,0,0,NaN
434,2884,241,242,11,241,1.0,NaN,POSSESSION,Matt Smith,4.88,34.95,True,False,1,0,0,NaN
435,2884,241,242,12,241,1.0,NaN,POSSESSION,Bobby Ley,15.51,40.19,True,False,1,0,0,NaN
436,2884,241,242,13,241,1.0,NaN,POSSESSION,Matt Smith,1.89,34.66,True,False,1,0,0,NaN
437,2884,241,242,14,241,1.0,NaN,POSSESSION,Austin Taylor,2.04,44.70,True,False,1,0,0,NaN
438,2884,241,242,15,241,1.0,Q1 10:55,GOAL,Christian Olsen,-10.35,104.49,True,False,1,1,0,NaN
4344,2884,241,242,5,242,1.0,Q1 10:55,SCORED_ON,NaN,NaN,NaN,False,True,1,0,1,NaN
4345,2884,241,242,6,242,1.0,NaN,SET_O_LINE,"Alex Davis, Jacob Fairfax, Henry Fisher, Matt ...",NaN,NaN,True,False,2,0,1,"['Alex Davis', 'Jacob Fairfax', 'Henry Fisher'..."
439,2884,241,242,16,241,1.0,NaN,SET_D_LINE,"Patrick Dougherty, Bradley Seuntjens, JP Burns...",NaN,NaN,False,True,2,1,0,"['Patrick Dougherty', 'Bradley Seuntjens', 'JP..."
440,2884,241,242,17,241,1.0,NaN,PULL_INBOUNDS,Khalif El-Salaam,-8.89,99.24,False,True,2,1,0,NaN

df_home['point_id'] = df['event_type'].isin(['SET_D_LINE', 'SET_O_LINE']).cumsum()

In [8]:
df_home

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,point_id,our_score,their_score,line
0,0,2908,2022-06-25,245,242,0,245,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
1,1,2908,2022-06-25,245,242,1,245,1.0,NaN,SET_D_LINE,"Michael Arbutine, Cody Coates, Garrett Knobel,...",NaN,NaN,False,True,1,0,0,"['Michael Arbutine', 'Cody Coates', 'Garrett K..."
2,2,2908,2022-06-25,245,242,2,245,1.0,NaN,PULL_INBOUNDS,Michael Arbutine,7.57,80.31,False,True,1,0,0,"['Michael Arbutine', 'Cody Coates', 'Garrett K..."
3,3,2908,2022-06-25,245,242,3,245,1.0,NaN,BLOCK,Michael Arbutine,NaN,NaN,False,True,1,0,0,"['Michael Arbutine', 'Cody Coates', 'Garrett K..."
4,4,2908,2022-06-25,245,242,4,245,1.0,NaN,POSSESSION,Michael Arbutine,-0.48,39.95,False,True,1,0,0,"['Michael Arbutine', 'Cody Coates', 'Garrett K..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,410,2893,2022-04-29,242,241,410,242,4.0,NaN,BLOCK,Connor Russell,NaN,NaN,False,True,34,15,14,"['Suraj Madiraju', 'Tim McAllister', 'Connor R..."
3888,411,2893,2022-04-29,242,241,411,242,4.0,NaN,POSSESSION,Connor Russell,1.77,28.43,False,True,34,15,14,"['Suraj Madiraju', 'Tim McAllister', 'Connor R..."
3889,412,2893,2022-04-29,242,241,412,242,4.0,NaN,D_PENALTY_ON_THEM,NaN,NaN,NaN,False,True,34,15,14,"['Suraj Madiraju', 'Tim McAllister', 'Connor R..."
3890,413,2893,2022-04-29,242,241,413,242,4.0,NaN,POSSESSION,Suraj Madiraju,14.52,45.47,False,True,34,15,14,"['Suraj Madiraju', 'Tim McAllister', 'Connor R..."
3891,414,2893,2022-04-29,242,241,414,242,4.0,NaN,GAME_OVER,NaN,NaN,NaN,False,True,34,15,14,"['Suraj Madiraju', 'Tim McAllister', 'Connor R..."

In [10]:
df['event_type'].value_counts()
df['event_type'].unique()
df['event_type'].unique()

array(['START_OF_GAME', 'SET_D_LINE', 'PULL_INBOUNDS', 'BLOCK',
       'POSSESSION', 'DROP', 'SCORED_ON', 'SET_O_LINE', 'THROWAWAY',
       'GOAL', 'OUR_MIDPOINT_TIMEOUT', 'SET_O_LINE_NO_PULL',
       'PULL_OUT_OF_BOUNDS', 'THROWAWAY_CAUSED', 'O_PENALTY_ON_US',
       'D_PENALTY_ON_US', 'END_OF_Q1', 'D_PENALTY_ON_THEM',
       'O_PENALTY_ON_THEM', 'INJURY_ON_D', 'SET_D_LINE_NO_PULL', 'STALL',
       'HALFTIME', 'THEIR_MIDPOINT_TIMEOUT', 'END_OF_Q3', 'GAME_OVER',
       nan, 'INJURY_ON_O', 'STALL_CAUSED', 'PULL_OUR_OFFSIDES',
       'REF_TIMEOUT_DISCUSSION???', 'CALLAHAN', 'CALLAHAN_THROWN'],
      dtype=object)

In [11]:
df.loc[df['event_type'] == "CALLAHAN"]
df.loc[df['event_type'] == "CALLAHAN_THROWN"]
#df.iloc[110:120]
# df.iloc[2360:2372]

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,point_id,our_score,their_score,line
6637,434,2895,2022-05-20,242,235,434,235,4.0,Q4 04:45,CALLAHAN_THROWN,NaN,-10.42,15.87,True,False,50,22,24,
7762,250,2893,2022-04-29,242,241,250,241,3.0,Q3 06:46,CALLAHAN_THROWN,NaN,-1.97,16.89,False,True,20,8,9,

In [12]:
df['reciever'] = df['player'].shift(-1)
df['turn'] = np.where(df['event_type'].isin(turnovers), 1, 0)

In [13]:
df['turn'] = np.where(df['event_type'].isin(turnovers), 1, 0)
df['turn'] = np.where(df['event_type'] == "DROP", 0.5, df['turn'])
df['who_turned'] = df['turn'].shift(-1) # This isn't quite right
df['turn'] = np.where(df['event_type'].isin(turnovers), 1, df['turn'])
df

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,...,y,o_point,d_point,point_id,our_score,their_score,line,reciever,turn,who_turned
0,0,2908,2022-06-25,245,242,0,245,1.0,NaN,START_OF_GAME,...,NaN,False,False,0,0,0,,"Michael Arbutine, Cody Coates, Garrett Knobel,...",0.0,0.0
1,1,2908,2022-06-25,245,242,1,245,1.0,NaN,SET_D_LINE,...,NaN,False,True,1,0,0,"[Michael Arbutine, Cody Coates, Garrett Knobel...",Michael Arbutine,0.0,0.0
2,2,2908,2022-06-25,245,242,2,245,1.0,NaN,PULL_INBOUNDS,...,80.31,False,True,1,0,0,,Michael Arbutine,0.0,0.0
3,3,2908,2022-06-25,245,242,3,245,1.0,NaN,BLOCK,...,NaN,False,True,1,0,0,,Michael Arbutine,0.0,0.0
4,4,2908,2022-06-25,245,242,4,245,1.0,NaN,POSSESSION,...,39.95,False,True,1,0,0,,Sean Plunkett,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7955,443,2893,2022-04-29,242,241,443,241,4.0,NaN,POSSESSION,...,37.20,True,False,34,14,15,,NaN,0.0,1.0
7956,444,2893,2022-04-29,242,241,444,241,4.0,NaN,THROWAWAY,...,96.91,True,False,34,14,15,,NaN,1.0,0.0
7957,445,2893,2022-04-29,242,241,445,241,4.0,Q4 00:04,REF_TIMEOUT_DISCUSSION???,...,NaN,True,False,34,14,15,,NaN,0.0,0.0
7958,446,2893,2022-04-29,242,241,446,241,4.0,NaN,D_PENALTY_ON_US,...,NaN,True,False,34,14,15,,NaN,0.0,0.0
7959,447,2893,2022-04-29,242,241,447,241,4.0,NaN,GAME_OVER,...,NaN,True,False,34,14,15,,NaN,0.0,NaN

In [10]:
df.loc[df['who_turned'] > 0]

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,line,reciever,turn,who_turned
53,53,2894,2022-05-14,242,245,53,242,1,NaN,POSSESSION,Matthew Mcknight,9.07,49.77,True,False,,NaN,0.0,1.0
60,60,2894,2022-05-14,242,245,60,242,1,NaN,POSSESSION,Dylan Hawkins,23.39,50.65,True,False,,NaN,0.0,1.0
74,74,2894,2022-05-14,242,245,74,242,1,NaN,POSSESSION,Andrew Vande Berg,-9.48,56.86,False,True,,NaN,0.0,1.0
125,125,2894,2022-05-14,242,245,125,242,2,NaN,POSSESSION,Terrence Mitchell,21.75,57.00,True,False,,NaN,0.0,1.0
259,259,2894,2022-05-14,242,245,259,242,3,NaN,POSSESSION,Matthew Mcknight,17.59,50.31,True,False,,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,280,2893,2022-04-29,242,241,280,241,3,NaN,POSSESSION,Khalif El-Salaam,-8.97,73.03,False,True,,NaN,0.0,1.0
2405,289,2893,2022-04-29,242,241,289,241,3,NaN,D_PENALTY_ON_THEM,NaN,NaN,NaN,False,True,,NaN,0.0,1.0
2512,396,2893,2022-04-29,242,241,396,241,4,NaN,O_PENALTY_ON_US,NaN,NaN,NaN,True,False,,NaN,0.0,1.0
2518,402,2893,2022-04-29,242,241,402,241,4,NaN,POSSESSION,Bradley Seuntjens,-1.03,41.50,True,False,,NaN,0.0,1.0
2559,443,2893,2022-04-29,242,241,443,241,4,NaN,POSSESSION,Khalif El-Salaam,-20.04,37.20,True,False,,NaN,0.0,1.0

In [11]:
df2 = df.loc[~df['event_type'].isin(pens)].copy()
# df2['turn'] = np.where(df2['event_type'].isin(turnovers), 1, 0)
# df2['who_turned'] = df2['turn'].shift(-1)

In [12]:
df2.loc[(df2['who_turned'] > 0) | (df2['turn'] > 0)]

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,line,reciever,turn,who_turned
53,53,2894,2022-05-14,242,245,53,242,1,NaN,POSSESSION,Matthew Mcknight,9.07,49.77,True,False,,NaN,0.0,1.0
54,54,2894,2022-05-14,242,245,54,242,1,NaN,THROWAWAY,NaN,-22.72,107.31,True,False,,NaN,1.0,0.0
60,60,2894,2022-05-14,242,245,60,242,1,NaN,POSSESSION,Dylan Hawkins,23.39,50.65,True,False,,NaN,0.0,1.0
61,61,2894,2022-05-14,242,245,61,242,1,NaN,THROWAWAY,NaN,6.61,90.40,True,False,,NaN,1.0,0.0
74,74,2894,2022-05-14,242,245,74,242,1,NaN,POSSESSION,Andrew Vande Berg,-9.48,56.86,False,True,,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,397,2893,2022-04-29,242,241,397,241,4,NaN,THROWAWAY,NaN,-0.22,28.44,True,False,,NaN,1.0,0.0
2518,402,2893,2022-04-29,242,241,402,241,4,NaN,POSSESSION,Bradley Seuntjens,-1.03,41.50,True,False,,NaN,0.0,1.0
2519,403,2893,2022-04-29,242,241,403,241,4,NaN,STALL,NaN,NaN,NaN,True,False,,NaN,1.0,0.0
2559,443,2893,2022-04-29,242,241,443,241,4,NaN,POSSESSION,Khalif El-Salaam,-20.04,37.20,True,False,,NaN,0.0,1.0
2560,444,2893,2022-04-29,242,241,444,241,4,NaN,THROWAWAY,NaN,-0.44,96.91,True,False,,NaN,1.0,0.0

In [13]:
df2.loc[df2['event_type'] == "DROP"]

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,line,reciever,turn,who_turned
402,402,2894,2022-05-14,242,245,402,242,4,NaN,DROP,Alex Davis,14.04,54.81,True,False,,NaN,1.0,0.0
494,53,2894,2022-05-14,242,245,53,245,1,NaN,DROP,Jacob Lane,-12.90,53.11,True,False,,NaN,1.0,0.0
735,294,2894,2022-05-14,242,245,294,245,3,NaN,DROP,Carl Johnson,-10.24,54.20,True,False,,NaN,1.0,0.0
776,335,2894,2022-05-14,242,245,335,245,3,NaN,DROP,Matt McDonald,14.66,39.81,True,False,,Matt McDonald,1.0,0.0
937,45,2905,2022-05-07,245,242,45,245,1,NaN,DROP,Jacob Lane,-22.92,78.00,False,True,,NaN,1.0,0.0
1223,331,2905,2022-05-07,245,242,331,245,3,NaN,DROP,Tannon Hedges,7.70,70.02,False,True,,Tim Lootens,1.0,0.0
1277,385,2905,2022-05-07,245,242,385,245,4,NaN,DROP,Robert Alongi,-8.73,106.15,False,True,,NaN,1.0,0.0
1430,77,2905,2022-05-07,245,242,77,242,2,NaN,DROP,Jacob Fairfax,24.41,107.52,True,False,,NaN,1.0,0.0
1982,270,2893,2022-04-29,242,241,270,242,3,NaN,DROP,Trevor Lynch,2.45,57.47,True,False,,NaN,1.0,0.0

In [14]:
df2.loc[(df2['game_id'] == 2893) & (df2['event_index'] > 265)]

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,line,reciever,turn,who_turned
1978,266,2893,2022-04-29,242,241,266,242,3,NaN,POSSESSION,Tim McAllister,19.50,42.27,True,False,,NaN,0.0,0.0
1979,267,2893,2022-04-29,242,241,267,242,3,Q3 03:19,OUR_MIDPOINT_TIMEOUT,NaN,NaN,NaN,True,False,,"Jacob Fairfax, Henry Fisher, Matt Gouchoe-Hana...",0.0,0.0
1980,268,2893,2022-04-29,242,241,268,242,3,NaN,SET_O_LINE_NO_PULL,"Jacob Fairfax, Henry Fisher, Matt Gouchoe-Hana...",NaN,NaN,True,False,"[Jacob Fairfax, Henry Fisher, Matt Gouchoe-Han...",Sol Yanuck,0.0,0.0
1981,269,2893,2022-04-29,242,241,269,242,3,NaN,POSSESSION,Sol Yanuck,19.50,42.27,True,False,,Trevor Lynch,0.0,0.5
1982,270,2893,2022-04-29,242,241,270,242,3,NaN,DROP,Trevor Lynch,2.45,57.47,True,False,,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2558,442,2893,2022-04-29,242,241,442,241,4,NaN,POSSESSION,Austin Taylor,-2.92,26.65,True,False,,Khalif El-Salaam,0.0,0.0
2559,443,2893,2022-04-29,242,241,443,241,4,NaN,POSSESSION,Khalif El-Salaam,-20.04,37.20,True,False,,NaN,0.0,1.0
2560,444,2893,2022-04-29,242,241,444,241,4,NaN,THROWAWAY,NaN,-0.44,96.91,True,False,,NaN,1.0,0.0
2561,445,2893,2022-04-29,242,241,445,241,4,Q4 00:04,REF_TIMEOUT_DISCUSSION???,NaN,NaN,NaN,True,False,,NaN,0.0,0.0
2563,447,2893,2022-04-29,242,241,447,241,4,NaN,GAME_OVER,NaN,NaN,NaN,True,False,,NaN,0.0,NaN